.header {
  padding: 30px 0;
  &__block {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include mobile{
      flex-direction: column;
    }
  }
  &__logo {
    width: 100%;
    max-width: 230px;

    a{
      display: block;
    }

    img{
      width: 100%;
    }

    @include mobile{
      margin-bottom: 20px;
    }
  }
  &__menu {
    @include netbook{
      display: none;
    }
    ul {
      display: flex;
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        margin: 0 20px;

        @include laptop{
          margin: 0 15px;
        }

        a {
          color: black;
          &:hover {
            color: #888888;
            text-decoration: none;
          }
        }
      }
    }
  }
  &__contact {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    a {
      color: black;
      line-height: 1.2;

      &:hover{
        text-decoration: none;
      }
    }
    &_number {
      font-size: 22px;

      @include laptop{
        font-size: 20px;
      }
    }

    &_text {
      color: #888888;
      font-size: 18px;
    }
  }
  &__block {
  }
}

#logo{
  height: 100px !important
}

.menu_wrapper{
  display: flex;
}

.sticky-white #Top_bar.is-sticky, .sticky-white #Top_bar.is-sticky #menu{
  background-color: #fff !important;
}

#Top_bar .top_bar_right_wrapper{
  top: 10px !important;
}
#Top_bar.is-sticky .top_bar_right{
  top: -14px !important;
}