.red {
  color: $red;
}

.uppercase {
  text-transform: uppercase;
}

.bold {
  font-weight: bold;
}

.overflow-hidden{
  overflow: hidden;
}

.w-100{
  width: 100%;
}

.title-line {
  font-size: 16px;
  color: $red;
  position: relative;
  font-family: $font;

  &::after {
    content: "";
    background-color: $red;
    display: inline-block;
    width: 105px;
    height: 1px;
    position: absolute;
    right: -120px;
    top: 50%;
    transform: translateY(-50%);
  }
}

.home-title {
  margin-top: 20px;
  line-height: 1.25;

  &__text{
    margin-top: 20px;
    margin-bottom: 25px;
  }

  &__subtext{
    color: $text-muted;
    font-size: 16px;
    margin-top: 15px;
    line-height: 1.25;

    &_w75{
      width: 100%;
      max-width: 300px;
    }
  }
}
