<div class="cars__card">
    <div class="cars__card_title">
        <h3>Car Name</h3>
    </div>
    <div class="cars__card_main card-main row">
        <div class="card-main__img col-xl-6 col-lg-12 col-md-12 col-12">
            <img src="assets/images/cars/1.png" alt="Araba">
            <div class="card-main__img_options">
                <ul>
                    <li>
                        <span class="i-car-gear icon"></span>
                        <span>Otomatik</span>
                    </li>
                    <li>
                        <span class="i-gas-station icon"></span>
                        <span>Benzin</span>
                    </li>
                    <li>
                        <span class="i-car-type icon"></span>
                        <span>Ekonomi</span>
                    </li>
                    <li>
                        <span class="i-snow icon"></span>
                        <span>Klima</span>
                    </li>
                    <li>
                        <span class="i-car-seat icon"></span>
                        <span>Koltuk</span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="card-main__options col-xl-6 col-lg-12 col-md-12 mt-4 mt-lg-0 col-12">
            <ul>
                <li>
                    <span class="i-confirm icon"></span>
                    <span>Adil yakıt politikası</span>
                </li>
                <li>
                    <span class="i-confirm icon"></span>
                    <span>Mali sorumluluk sigortası</span>
                </li>
                <li>
                    <span class="i-confirm icon"></span>
                    <span>Muafiyetli hasar sigortası</span>
                </li>
                <li>
                    <span class="i-confirm icon"></span>
                    <span>Ücretsiz iptal (48sa.)</span>
                </li>
            </ul>
        </div>
    </div>
    <div class="cars__card_footer card-footer">
        <div class="card-footer__price">
            <span>Gunluk Fiyati</span>
            <span class="card-footer__price_wrapper">
                <span class="old-price">123.50 TL</span>
                <span class="new-price">123.50 TL</span>
            </span>
        </div>
        <div class="card-footer__btn">
            <a href="form.html" class="btn btn-green waves-effect waves-light">Aracı Şimdi Kirala</a>
        </div>
    </div>
</div>