<!-- Footer -->
<footer class="footer container-fluid">
    <div class="container footer-container">
        <div class="row border-bottom">
            <div class="col-12">
                <ul class="list-destination">
                    <li><a href="#">Kemer Araç Kirama</a></li>
                    <li><a href="#">Kemer Araç Kirama</a></li>
                    <li><a href="#">Kemer Araç Kirama</a></li>
                    <li><a href="#">Kemer Araç Kirama</a></li>
                    <li><a href="#">Kemer Araç Kirama</a></li>
                </ul>
            </div>

        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="footer__about">
                    <div class="footer__about_logo">
                        <img src="assets/images/logo.png" alt="">
                    </div>
                    <div class="footer__about_text">
                        <p> <b>CLK GROUP CAR RENTALS</b> 1983 yılından itibaren Tokat merkezli çalışma hayatına başlamış geçen yılların ardından Akdeniz bölgesinin aranan kuruluşlarından birisi olmayı başarmış, Rent a car, gayrimenkul, otomotiv sektörlerinde lider firmalar arasına girmiştir.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="footer__social">
                    <h5>Sosyal Medya Hesaplarımız</h5>
                    <ul>
                        <li>
                            <a href="#">
                                <span>
                                    <img src="assets/images/icons/facebook.svg" alt="">
                                </span>
                                <span class="d-none">facebook</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span>
                                    <img src="assets/images/icons/instagram.svg" alt="">
                                </span>
                                <span class="d-none">instagram</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span>
                                    <img src="assets/images/icons/whatsapp.svg" alt="">
                                </span>
                                <span class="d-none">whatsapp</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span>
                                    <img src="assets/images/icons/telegram.svg" alt="">
                                </span>
                                <span class="d-none">telegram</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="footer__contact">
                    <h5>Rezervasyonunuzla ilgili desteğe mi ihtiyacınız var?</h5>
                    <span>Bizimle iletişime geçin.</span>
                    <a href="#" class="footer__contact_call">
                        <span class="i-call-center icon"></span>
                        <span>+90 531 354 23 96</span>
                    </a>
                    <a href="#" class="footer__contact_mail">
                        <span class="i-telegram icon"></span>
                        <span>rezervasyon@clkcarrentals.com</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Modals -->
<div id="modal-resevation" class="modal">
    <div class="modal-content form row">
        <div class="col-12 mb-5">
            <h4>Rezervasyon Ara</h4>
        </div>
        <div class="col-12 mb-3">
            <div class="input-field">
                <input placeholder="Rezervasyon No" id="first_name" type="text" class="validate">
                <label for="first_name">Rezervasyon No</label>
            </div>
        </div>
        <div class="col-12 mb-3">
            <div class="input-field">
                <input placeholder="E-Posta" id="last_name" type="email" class="validate">
                <label for="last_name">E-Posta</label>
            </div>
        </div>
        <div class="col-12">
            <a href="#" class="btn btn-yellow btn-find waves-effect waves-light py-1">Ara</a>
        </div>
    </div>
</div>