.form-section {
  /* background-color: darken($color: $blue, $amount: 30%); */
  background: rgb(19, 71, 165);
  background: linear-gradient(180deg, rgba(19, 71, 165, 1) 0%, rgba(23, 54, 111, 1) 100%);
  padding: 150px 0;
  position: relative;

  @include mobile {
    padding: 80px 0;
  }

  .input-field {
    margin-top: 0;
    margin-bottom: 0;
    height: 100%;
  }

  &__list {
    margin: 0;
    padding: 0;

    li a {
      padding: 14px;
      background-color: #ff9f19;
      border-radius: 4px;
      color: white;
      position: relative;
      text-align: center;
      top: 3px;
      font-size: 15px;
    }
  }
}
.form-choose {
  padding: 100px 0 50px;
}

/* Cars */
.cars {
  margin-top: 50px;

  &__card {
    width: 100%;
    border-radius: 2px;

    box-shadow: $box-shadow;
  }
}

.autocomplete:focus {
  border: 1px solid white !important;
}

.accordion {
  dt {
    a {
      padding: 15px;
      background-color: whitesmoke;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.17);
      border-radius: 3px;
      margin-bottom: 20px;
      display: block;
      color: black;
      font-weight: 500;
    }
  }
  dd {
    margin-bottom: 20px;
    margin-left: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.17);
    padding: 15px;
    border-radius: 3px;
  }
}

.about-card {
  padding: 20px;
  text-align: center;
  font-weight: bold;
  img {
    width: 50%;
    height: 250px;
    object-fit: contain;
    margin: 0 auto;
  }
}

.modal {
  width: 90%;
  max-width: 500px;
}

.tabs {
  background-color: transparent;
  height: auto;
}

.form-section__bgimg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(0px) brightness(0.7);
}

.form-section__main-title {
  font-size: 50px;
  font-weight: bold;
  color: white;
  text-shadow: 0 0px 30px #000000;
  margin-bottom: 10px;
}

.form-section__main-subtitle {
  font-size: 26px;
  font-weight: bold;
  color: #a7dcff;
  text-shadow: 0 0px 30px #000000;
}

.tabs .tab {
  text-transform: inherit;
  line-height: inherit;
}

.tabs .indicator {
  background-color: #7e9096;
}

.tabs .tab a {
  color: white;
  padding: 14px 20px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  align-items: center;
}

.tabs .tab a:hover {
  color: white;
  background-color: #ff9f19;
}

.tabs .tab a.active {
  background-color: white;
  color: black;
}

.tabs .tab a.active:hover {
  background-color: white;
  color: black;
}

.tabs .tab a:focus,
.tabs .tab a:focus.active {
  background-color: white;
}
.tabs .tab a.active .icon-grey-white {
  filter: none;
}
