/* Bootstrap */
@media (min-width: 200px) and (max-width: 576px) {
  .menu .menu-content li {
    display: none;
  }

  .menu .logo img {
    width: 100px;
  }

  .review-section ul li {
    width: 100%;
  }

  .steps-form ol li {
    font-size: 14px;
    padding: 15px;
  }

  .datapicker .return-transfer .geri-transfer-switch {
    width: 40%;
  }

  .uk-light .uk-slidenav,
  .uk-section-primary:not(.uk-preserve-color) .uk-slidenav,
  .uk-section-secondary:not(.uk-preserve-color) .uk-slidenav,
  .uk-tile-primary:not(.uk-preserve-color) .uk-slidenav,
  .uk-tile-secondary:not(.uk-preserve-color) .uk-slidenav,
  .uk-card-primary.uk-card-body .uk-slidenav,
  .uk-card-primary > :not([class*="uk-card-media"]) .uk-slidenav,
  .uk-card-secondary.uk-card-body .uk-slidenav,
  .uk-card-secondary > :not([class*="uk-card-media"]) .uk-slidenav,
  .uk-overlay-primary .uk-slidenav,
  .uk-offcanvas-bar .uk-slidenav {
    color: black;
  }

  .uk-light .uk-slidenav:hover,
  .uk-light .uk-slidenav:focus,
  .uk-section-primary:not(.uk-preserve-color) .uk-slidenav:hover,
  .uk-section-primary:not(.uk-preserve-color) .uk-slidenav:focus,
  .uk-section-secondary:not(.uk-preserve-color) .uk-slidenav:hover,
  .uk-section-secondary:not(.uk-preserve-color) .uk-slidenav:focus,
  .uk-tile-primary:not(.uk-preserve-color) .uk-slidenav:hover,
  .uk-tile-primary:not(.uk-preserve-color) .uk-slidenav:focus,
  .uk-tile-secondary:not(.uk-preserve-color) .uk-slidenav:hover,
  .uk-tile-secondary:not(.uk-preserve-color) .uk-slidenav:focus,
  .uk-card-primary.uk-card-body .uk-slidenav:hover,
  .uk-card-primary.uk-card-body .uk-slidenav:focus,
  .uk-card-primary > :not([class*="uk-card-media"]) .uk-slidenav:hover,
  .uk-card-primary > :not([class*="uk-card-media"]) .uk-slidenav:focus,
  .uk-card-secondary.uk-card-body .uk-slidenav:hover,
  .uk-card-secondary.uk-card-body .uk-slidenav:focus,
  .uk-card-secondary > :not([class*="uk-card-media"]) .uk-slidenav:hover,
  .uk-card-secondary > :not([class*="uk-card-media"]) .uk-slidenav:focus,
  .uk-overlay-primary .uk-slidenav:hover,
  .uk-overlay-primary .uk-slidenav:focus,
  .uk-offcanvas-bar .uk-slidenav:hover,
  .uk-offcanvas-bar .uk-slidenav:focus {
    color: coral;
  }

  .uk-position-small {
    margin: 10px -15px;
  }

  .datapicker {
    bottom: 3px;
  }

  .datapicker h2,
  .popular h2 {
    font-size: 24px;
  }

  .datapicker ol {
    flex-wrap: wrap;
  }

  .datapicker ol li {
    margin-bottom: 20px;
  }

  .datapicker ol li.where,
  .datapicker ol li.where-to,
  .datapicker ol li.date .gj-datepicker {
    width: 100% !important;
  }

  .datapicker ol li.people {
    width: 40%;
  }

  .datapicker ol li.time {
    width: 27%;
  }

  .datapicker ol li.date {
    width: 60%;
  }

  .datapicker ol li.people span {
    width: auto;
  }

  .datapicker ol li.people span button {
    padding: 12px 11px !important;
  }

  .datapicker ol li.time {
    width: 60%;
  }

  .datapicker ol.return-transfer button.start {
    position: static;
    margin-top: 30px;
    margin-bottom: 10px;
    margin-left: auto;
    float: right;
  }

  .datapicker ol.return-transfer li.date {
    width: 60%;
  }

  .cards-section li {
    width: 100%;
  }

  .why-us ul {
    flex-wrap: wrap;
  }

  .why-us ul li {
    width: 50%;
  }

  .why-us ul li:nth-child(2) {
    border: none;
  }

  .blog ul {
    flex-wrap: wrap;
    padding: 0 15px;
  }

  .blog ul li {
    width: 100%;
    margin-bottom: 20px;
  }

  .popular {
    margin-top: 50px;
  }

  .cars ul {
    flex-wrap: wrap;
  }

  .cars ul li {
    width: 100%;
    margin-bottom: 20px;
  }

  .why-us h3 {
    font-size: 20px;
  }

  .why-us {
    font-size: 15px;
  }

  .why-us ul li {
    padding: 20px 10px;
  }

  .help-section .container ul li .social-tel {
    display: none;
  }

  .form-information .w-40 {
    width: 100%;
  }

  .bolge img,
  .cards-tours li {
    width: 100%;
  }

  .bolge h1 {
    font-size: 26px;
  }

  .social-right {
    flex-direction: row;
    bottom: 0;
    right: 0;
    top: inherit;
  }
}

@media (min-width: 577px) and (max-width: 768px) {
  .menu .menu-content li {
    display: none;
  }

  .datapicker ol {
    flex-wrap: wrap;
  }

  .datapicker ol li {
    margin-bottom: 20px;
  }

  .steps-form ol li {
    font-size: 14px;
    padding: 15px;
  }

  .datapicker ol li.where,
  .datapicker ol li.where-to {
    width: 49%;
  }

  .datapicker ol li.people {
    width: 25%;
  }

  .datapicker ol li.time {
    width: 27%;
  }

  .datapicker ol li.date {
    width: 40%;
  }

  .datapicker ol li.people span {
    width: auto;
  }

  .datapicker ol li.people span button {
    padding: 12px 14px !important;
  }

  .datapicker ol.return-transfer button.start {
    position: static;
    margin-top: 30px;
    margin-bottom: 10px;
    margin-left: auto;
    float: right;
  }

  .cards-section li {
    width: 45%;
  }

  .why-us ul {
    flex-wrap: wrap;
  }

  .why-us ul li {
    width: 50%;
  }

  .why-us ul li:nth-child(2) {
    border: none;
  }

  .blog ul {
    flex-wrap: wrap;
  }

  .blog ul li {
    width: 45%;
    margin-bottom: 20px;
  }

  .bolge img {
    width: 100% !important;
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  .menu .menu-content li {
    display: none;
  }

  .datapicker ol {
    flex-wrap: wrap;
  }

  .steps-form ol li {
    font-size: 16px;
    padding: 15px;
  }

  .datapicker ol li {
    margin-bottom: 20px;
  }

  .datapicker ol li.where,
  .datapicker ol li.where-to {
    width: 49%;
  }

  .datapicker ol li.people {
    width: 25%;
  }

  .datapicker ol li.time {
    width: 27%;
  }

  .datapicker ol li.date {
    width: 40%;
  }

  .datapicker ol li.people span {
    width: auto;
  }

  .datapicker ol li.people span button {
    padding: 12px 14px !important;
  }

  .datapicker ol.return-transfer button.start {
    position: static;
    margin-top: 30px;
    margin-bottom: 10px;
    margin-left: auto;
    float: right;
  }

  .cards-section li {
    width: 45%;
  }

  .why-us ul {
    flex-wrap: wrap;
  }

  .why-us ul li {
    width: 50%;
  }

  .why-us ul li:nth-child(2) {
    border: none;
  }

  .blog ul {
    flex-wrap: wrap;
  }

  .blog ul li {
    width: 45%;
    margin-bottom: 20px;
  }

  .bolge img,
  .cards-tours li {
    width: 100% !important;
  }
}

@media (min-width: 993px) and (max-width: 1200px) {
  .cards-section li {
    width: 45%;
    margin-bottom: 30px;
  }

  .blog ul {
    flex-wrap: wrap;
  }

  .blog ul li {
    width: 45%;
    margin-bottom: 20px;
  }

  .blog ul li div.blog-text {
    height: 100px;
  }
}
