/* Mobile */
@media (min-width: 300px) and (max-width: 576px) {
  .header-image div h1 {
    font-size: 30px;
    padding: 0 0 20px 0;
  }
  #response {
    width: 67%;
    font-size: 17px;
  }
  .main-button {
    font-size: 20px;
  }
  .main-button:after {
    padding: 26px;
  }
  header.container-fluid .navbar-collapse .secondary-button {
    display: block;
  }
  .check-home {
    height: auto;
    padding-top: 30px;
  }
  .check-home form {
    flex-wrap: wrap;
  }
  .check-home form div {
    width: 100%;
    margin-bottom: 20px;
  }
  .check-home form div .number-home {
    width: 100%;
  }
  .check-home form div button {
    width: 100%;
    margin-left: 0;
  }
  .check-home form input {
    width: 100%;
  }
  .why-us {
    height: auto;
  }
  .why-us div.container .row {
    padding: 0;
  }
  .our-rates .internet-tariffs img {
    width: 70%;
  }
  .our-rates .internet-tariffs button {
    padding: 8px 40px;
  }
  .our-rates .internet-tariffs button:after {
    padding: 22px !important;
  }
  .video-icon-section li {
    width: 100%;
  }
  .video-section {
    height: 600px;
  }
  .video-section .container {
    height: 600px;
  }
  .video-section h1 {
    font-size: 36px;
  }
  .card-with-header h3 {
    padding: 15px;
  }
  .video-services .vs-2,
  .video-services .vs-3,
  .video-services .vs-4,
  .video-services .vs-5 {
    height: 380px;
  }
  .video-services .video-service-card ul {
    font-size: 16px;
  }
  .video-services .video-service-card h3 {
    font-size: 20px;
  }
  .video-services ul.video-icon-section li {
    width: 100%;
  }
  ul.video-icon-section {
    padding: 0 20px;
  }
  ul.video-icon-section li {
    width: 100%;
  }
  .opt-services p {
    padding: 0 20px;
  }
  .how-connect-internet h3 hr {
    width: 90%;
  }
  .how-connect-internet p {
    font-size: 19px;
    line-height: normal;
  }
  .how-connect-internet ul {
    display: block;
    font-size: 19px;
  }
  .how-connect-internet ul li {
    display: block;
    text-align: center;
  }
  .how-connect-internet ul li img {
    display: block;
    padding: 0;
    margin-right: auto;
    margin-left: auto;
    transform: rotate(90deg);
    margin-top: 14px;
  }
  .connection-kits {
    padding-bottom: 50px;
  }
  .main-image-internet .our-advantages-cards p {
    font-size: 20px;
    height: auto;
    padding: 30px 33px;
  }
  .main-image-internet .our-advantages-cards .cards-image-color {
    padding: 25px 0;
  }
  .main-image-internet .our-advantages-cards .cards-image-color img {
    height: 80px;
  }
  .about-video .video-image-section img {
    display: none;
  }
  .video-question button {
    font-size: 16px;
  }
  .how-work {
    height: auto;
  }
  .how-work .container .how-work-card {
    height: auto;
    margin-top: 20px;
  }
  .header-image-internet {
    height: 585px;
    background-position-x: center;
  }
  .header-image-internet h1 {
    font-size: 2rem;
    line-height: normal;
    padding: 0;
    text-align: center;
  }
  .header-image-internet ul {
    padding-left: 1rem;
  }
  .header-image-internet ul li img {
    padding-right: 10px;
  }
  .header-image-internet button {
    margin-left: 1rem;
  }
  .vs-last {
    padding-left: 4px !important;
    padding-right: 4px !important;
  }
  .tv-header-background {
    height: auto;
    padding-bottom: 100px;
    background-position: left;
  }
  .tv-header-background .tv-header-title {
    font-size: 50px;
    margin-left: 10px;
  }
  .tv-header-background .tv-btn-header {
    margin-left: 10px;
    margin-top: 140px;
  }
  .types-connection-image {
    padding-top: 50px;
  }
  .types-connection-card {
    font-size: 20px;
  }
  .types-connection-card h3 {
    font-size: 23px;
  }
  .types-connection-card button {
    width: 30%;
    font-size: 20px;
  }
  .types-connection-card .main-button:after {
    left: 7px;
    padding: 24px;
  }
  .satellite-television-title h3 {
    font-size: 22px;
    border: none;
  }
  .satellite-television-title img {
    height: auto;
    width: 90px;
  }
  .satellite-television-card {
    height: 92%;
    margin-right: auto;
    margin-left: auto;
  }
  .satellite-television-card ul {
    padding-left: 0;
  }
  .satellite-television-card .main-button:after {
    padding: 21px;
  }
  .satellite-television-card button {
    width: 25%;
  }
  .satellite-television-card h3 {
    font-size: 18px;
  }
  .satellite-television-card-specification {
    display: block;
    padding-left: 50px !important;
    margin-top: 20px;
  }
  .satellite-television-card-specification li:nth-child(4) img {
    padding-left: 0px;
  }
  .satellite-television-card-specification li:nth-child(2) img {
    padding-left: 0px;
  }
  .tv-special-offer p {
    margin: 0;
    font-size: 20px;
    width: 100%;
    padding-bottom: 15px;
  }
  .tv-special-offer span {
    font-size: 25px;
    margin: 0;
    width: 100%;
    margin-top: 15px;
  }
  .tv-special-offer img {
    display: none;
  }
  .tv-satellite-ntv-plus h3 {
    width: 100%;
  }
  .tv-satellite-ntv-plus-card h4 {
    padding: 30px 10px;
  }
  .tv-satellite-ntv-plus-card .main-button:after {
    padding: 21px;
  }
  .tv-satellite-ntv-plus button {
    width: 25%;
  }
  .tv-satellite-mts p {
    padding-right: 0;
    font-size: 18px;
  }
  .tv-broadcast-card {
    height: 90%;
  }
  .make-request .tv-footer-image-left {
    display: none;
  }
  .make-request p {
    font-size: 18px;
    width: 100%;
    padding: 0 10px;
  }
  .make-request button {
    width: 70%;
    font-size: 20px;
  }
  .make-request .tv-footer-image-right {
    display: none;
  }
}
/* Ipad mini to normal Ipad ( 7inc Screen ) */
@media (min-width: 577px) and (max-width: 768px) {
  .header-image div h1 {
    font-size: 40px;
  }
  #response {
    width: 70%;
  }
  header.container-fluid .navbar-collapse .secondary-button {
    display: block;
  }
  .check-home {
    height: auto;
    padding-top: 30px;
  }
  .check-home form {
    flex-wrap: wrap;
  }
  .check-home form div {
    width: 100%;
    margin-bottom: 20px;
  }
  .check-home form div .number-home {
    width: 100%;
  }
  .check-home form div button {
    width: 100%;
    margin-left: 0;
  }
  .check-home form input {
    width: 100%;
  }
  .why-us {
    height: auto;
  }
  .main-image-internet .our-advantages-cards .cards-image-color img {
    height: 60px;
  }
  .main-image-internet .our-advantages-cards p {
    font-size: 18px;
    padding: 0 12px;
  }
  .video-icon-section li {
    width: 100%;
  }
  .video-section {
    height: 600px;
  }
  .video-section .container {
    height: 600px;
  }
  .video-section h1 {
    font-size: 38px;
  }
  .our-rates .internet-tariffs img {
    width: 50%;
  }
  .video-question button {
    font-size: 18px;
  }
  .card-with-header h3 {
    padding: 15px;
  }
  .video-services .vs-2,
  .video-services .vs-3,
  .video-services .vs-4,
  .video-services .vs-5 {
    height: 380px;
  }
  .video-services .video-service-card ul {
    font-size: 16px;
  }
  .video-services .video-service-card h3 {
    font-size: 20px;
  }
  .video-services ul.video-icon-section li {
    width: 100%;
  }
  ul.video-icon-section li {
    width: 100%;
  }
  .vs-last {
    padding-left: 4px !important;
    padding-right: 4px !important;
  }
  .connection-kits {
    padding-bottom: 50px;
  }
  .connection-kits .card-kits {
    height: 470px;
    position: relative;
  }
  .connection-kits .card-kits .kits-title {
    padding: 10px;
    flex-wrap: wrap;
  }
  .connection-kits .card-kits .kits-title img {
    margin: auto;
    height: auto;
    width: 25%;
  }
  .connection-kits .card-kits .kits-title div {
    padding: 10px 0 0 0;
    text-align: center;
    font-size: 17px;
  }
  .connection-kits .card-kits ul li {
    padding: 5px 10px;
    font-size: 14px;
  }
  .connection-kits .card-kits button {
    padding: 15px 0;
    font-size: 16px;
    line-height: normal;
    position: absolute;
    bottom: 0;
  }
  .services .container .home-page-service .text-service h3 {
    font-size: 24px;
  }
  .services .container .home-page-service .text-service p {
    font-size: 18px;
  }
  .services .container .home-page-service .text-service .secondary-button {
    font-size: 20px;
  }
  .how-work {
    height: auto;
  }
  .how-work .container .how-work-card:last-child {
    margin-top: 20px;
  }
  .header-image-internet h1 {
    font-size: 3rem;
    line-height: normal;
  }
  .header-image-internet {
    height: 585px;
    background-position-x: center;
  }
  .how-connect-internet h3 hr {
    width: 90%;
  }
  .how-connect-internet p {
    font-size: 19px;
    line-height: normal;
  }
  .how-connect-internet ul {
    font-size: 19px;
    display: block;
  }
  .how-connect-internet ul li {
    display: block;
    text-align: center;
  }
  .how-connect-internet ul li img {
    display: block;
    padding: 0;
    margin-right: auto;
    margin-left: auto;
    transform: rotate(90deg);
    margin-top: 14px;
  }
  .tv-header-background {
    height: auto;
    padding-bottom: 100px;
  }
  .tv-header-background .tv-header-title {
    font-size: 40px;
    margin-right: 40px;
  }
  .tv-header-background .tv-btn-header {
    margin-left: 60px;
    margin-top: 140px;
  }
  .types-connection-image {
    padding-top: 50px;
  }
  .types-connection-card {
    font-size: 20px;
  }
  .types-connection-card h3 {
    font-size: 23px;
  }
  .types-connection-card button {
    font-size: 20px;
  }
  .types-connection-card .main-button:after {
    left: 7px;
    padding: 24px;
  }
  .satellite-television-title img {
    width: 100px;
  }
  .satellite-television-card {
    height: 92%;
  }
  .satellite-television-card ul {
    padding-left: 0;
  }
  .satellite-television-card h3 {
    font-size: 21px;
  }
  .satellite-television-card-specification {
    display: block;
    padding-left: 40px !important;
  }
  .satellite-television-card-specification li:nth-child(4) img {
    padding-left: 0px;
  }
  .satellite-television-card-specification li:nth-child(2) img {
    padding-left: 0px;
  }
  .tv-special-offer p {
    margin: 0;
    font-size: 20px;
    width: 71%;
    padding-bottom: 15px;
  }
  .tv-special-offer span {
    font-size: 25px;
    margin: 0;
    width: 80%;
    margin-top: 15px;
  }
  .tv-special-offer img {
    position: absolute;
    top: -40px;
    right: 0;
    height: auto;
    width: 190px;
  }
  .tv-satellite-ntv-plus-card h4 {
    padding: 30px 60px;
  }
  .tv-satellite-mts p {
    font-size: 20px;
  }
  .tv-broadcast-card {
    height: 90%;
  }
  .make-request .tv-footer-image-left {
    left: 13px;
    top: -50px;
    width: 200px;
    height: 200px;
  }
  .make-request p {
    font-size: 18px;
  }
  .make-request button {
    width: 40%;
    font-size: 20px;
  }
  .make-request .tv-footer-image-right {
    right: 36px;
    bottom: 120px;
    width: 152px;
    height: 186px;
  }
}
/* Between Ipad pro and Ipad */
@media (min-width: 769px) and (max-width: 992px) {
  .header-image div h1 {
    font-size: 40px;
  }
  header.container-fluid .navbar-collapse .secondary-button {
    display: block;
  }
  header.container-fluid .navbar-nav li {
    padding: 0 0;
  }
  #response {
    width: 53%;
  }
  .check-home {
    height: auto;
    padding-top: 30px;
  }
  .check-home form {
    flex-wrap: wrap;
  }
  .check-home form div {
    width: 100%;
    margin-bottom: 20px;
  }
  .check-home form div .number-home {
    width: 100%;
  }
  .check-home form div button {
    width: 100%;
    margin-left: 0;
  }
  .check-home form input {
    width: 100%;
  }
  .why-us {
    height: auto;
  }
  .vs-last {
    padding-left: 12px !important;
    padding-right: 12px !important;
  }
  .services .container .home-page-service .text-service h3 {
    font-size: 24px;
  }
  .services .container .home-page-service .text-service p {
    font-size: 18px;
  }
  .services .container .home-page-service .text-service .secondary-button {
    font-size: 20px;
  }
  .video-section {
    height: 600px;
  }
  .video-section .container {
    height: 600px;
  }
  .video-section h1 {
    font-size: 50px;
  }
  .about-video .video-image-section img {
    width: 550px;
  }
  .video-services .video-service-card ul {
    font-size: 16px;
  }
  .video-services .video-service-card h3 {
    font-size: 20px;
  }
  .how-work {
    height: auto;
  }
  .how-work .container .how-work-card {
    font-size: 17px;
    padding: 40px 20px;
  }
  .how-work .container .how-work-card:last-child {
    margin-top: 30px;
  }
  .connection-kits {
    padding-bottom: 50px;
  }
  .tv-header-background {
    height: auto;
    padding-bottom: 100px;
  }
  .tv-header-background .tv-header-title {
    font-size: 40px;
    margin-right: 40px;
  }
  .tv-header-background .tv-btn-header {
    margin-left: 60px;
    margin-top: 140px;
  }
  .types-connection-image {
    padding-top: 50px;
  }
  .types-connection-card {
    font-size: 20px;
  }
  .types-connection-card h3 {
    font-size: 23px;
  }
  .types-connection-card button {
    font-size: 20px;
  }
  .types-connection-card .main-button:after {
    left: 7px;
    padding: 24px;
  }
  .satellite-television-title img {
    width: 100px;
  }
  .satellite-television-card {
    height: 92%;
  }
  .satellite-television-card ul {
    padding-left: 0;
  }
  .satellite-television-card h3 {
    font-size: 21px;
  }
  .satellite-television-card-specification {
    display: block;
    padding-left: 40px !important;
  }
  .satellite-television-card-specification li:nth-child(4) img {
    padding-left: 0px;
  }
  .satellite-television-card-specification li:nth-child(2) img {
    padding-left: 0px;
  }
  .tv-special-offer p {
    margin: 0;
    font-size: 20px;
    width: 71%;
    padding-bottom: 15px;
  }
  .tv-special-offer span {
    font-size: 25px;
    margin: 0;
    width: 80%;
    margin-top: 15px;
  }
  .tv-special-offer img {
    position: absolute;
    top: -40px;
    right: 0;
    height: auto;
    width: 190px;
  }
  .tv-satellite-mts p {
    font-size: 20px;
  }
  .tv-broadcast-card {
    height: 90%;
  }
  .make-request .tv-footer-image-left {
    left: 13px;
    top: -50px;
    width: 200px;
    height: 200px;
  }
  .make-request p {
    font-size: 18px;
  }
  .make-request button {
    width: 40%;
    font-size: 20px;
  }
  .make-request .tv-footer-image-right {
    right: 36px;
    bottom: 120px;
    width: 152px;
    height: 186px;
  }
}
/* NetBooks and Ipad Pro */
@media (min-width: 993px) and (max-width: 1200px) {
  header.container-fluid .navbar-nav li {
    padding: 0 0;
  }
  .header-image-internet {
    height: 585px;
    background-position-x: center;
  }
  .header-image-internet h1 {
    font-size: 3rem;
    line-height: normal;
  }
  #response {
    width: 50%;
  }
  .services .container .home-page-service .text-service h3 {
    font-size: 24px;
  }
  .services .container .home-page-service .text-service p {
    font-size: 18px;
  }
  .services .container .home-page-service .text-service .secondary-button {
    font-size: 20px;
  }
  .how-work .container .how-work-card {
    padding: 40px 20px;
    font-size: 16px;
  }
  .best-offers .container .best-offers-card {
    padding: 40px 15px;
  }
  .best-offers .container h3 {
    font-size: 21px;
  }
  footer p {
    font-size: 16px;
  }
  footer a {
    font-size: 18px;
  }
  .video-section {
    height: 600px;
  }
  .video-section .container {
    height: 600px;
  }
  .video-section h1 {
    font-size: 50px;
  }
  .about-video .video-image-section img {
    width: 550px;
  }
  .video-services .video-service-card ul {
    font-size: 17px;
  }
  .vs-last {
    padding-left: 12px !important;
    padding-right: 12px !important;
  }
  .tv-header-background {
    height: auto;
    padding-bottom: 100px;
  }
  .tv-header-background .tv-header-title {
    font-size: 45px;
    width: 70%;
  }
  .tv-header-background .tv-btn-header {
    margin-left: 60px;
    margin-top: 100px;
    font-size: 20px;
  }
  .tv-header-background .main-button:after {
    left: 6px;
    padding: 24px;
  }
  .tv-special-offer img {
    height: auto;
    width: 20%;
    top: -40px;
    right: 0;
  }
  .tv-special-offer p {
    font-size: 19px;
    border-bottom: 1px solid #FFFFFF;
    padding-bottom: 0;
    width: fit-content;
  }
  .tv-special-offer span {
    font-size: 20px;
  }
  .types-connection-image {
    padding-top: 50px;
  }
  .types-connection-card {
    font-size: 20px;
    height: 100%;
    padding-bottom: 60px;
  }
  .satellite-television-title img {
    height: auto;
    width: 100px;
  }
  .satellite-television-card-specification {
    display: block;
    padding-left: 60px;
    padding-top: 30px;
  }
  .satellite-television-card-specification li:nth-child(4) img {
    padding-left: 0px;
  }
  .satellite-television-card-specification li:nth-child(2) img {
    padding-left: 0px;
  }
  .tv-satellite-ntv-plus-card {
    height: 100%;
    padding-bottom: 125px;
  }
  .tv-satellite-ntv-plus-card h4 {
    padding: 30px 30px;
  }
  .tv-satellite-ntv-plus-card button {
    bottom: 0;
  }
  .tv-satellite-ntv-plus-card .price {
    bottom: 75px;
  }
  .tv-satellite-mts p {
    font-size: 21px;
  }
  .tv-broadcast {
    padding-bottom: 100px;
  }
  .tv-broadcast-card {
    height: 90%;
    padding: 15px 47px 0px;
    margin-top: 103px;
  }
  .make-request .tv-footer-image-left {
    left: 13px;
    top: -50px;
    width: 250px;
    height: 250px;
  }
  .make-request p {
    font-size: 20px;
  }
  .make-request .tv-footer-image-right {
    width: 250px;
    height: 202px;
    right: 0;
    bottom: 80px;
  }
  .connection-kits {
    padding-bottom: 50px;
  }
}

/* Mobile */
@media (min-width: 200px) and (max-width: 576px) {
  .header-image div h1 {
    font-size: 30px;
    padding: 0 0 20px 0;
  }
  .main-button {
    font-size: 20px;
  }
  .main-button:after {
    padding: 26px;
  }
  header.container-fluid .navbar-collapse .secondary-button {
    display: block;
  }
  .check-home {
    height: auto;
    padding-top: 30px;
  }
  .check-home form {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .check-home form div {
    width: 100%;
    margin-bottom: 20px;
  }
  .check-home form div .number-home {
    width: 100%;
  }
  .check-home form div button {
    width: 100%;
    margin-left: 0;
  }
  .check-home form input {
    width: 100%;
  }
  .why-us {
    height: auto;
  }
  .why-us div.container .row {
    padding: 0;
  }
  .our-rates .internet-tariffs img {
    width: 70%;
  }
  .our-rates .internet-tariffs button {
    padding: 8px 40px;
  }
  .our-rates .internet-tariffs button:after {
    padding: 22px !important;
  }
  .video-icon-section li {
    width: 100%;
  }
  .video-section {
    height: 600px;
  }
  .video-section .container {
    height: 600px;
  }
  .video-section h1 {
    font-size: 36px;
  }
  .card-with-header h3 {
    padding: 15px;
  }
  .video-services .vs-2,
  .video-services .vs-3,
  .video-services .vs-4,
  .video-services .vs-5 {
    height: 380px;
  }
  .video-services .video-service-card ul {
    font-size: 16px;
  }
  .video-services .video-service-card h3 {
    font-size: 20px;
  }
  .video-services ul.video-icon-section li {
    width: 100%;
  }
  ul.video-icon-section {
    padding: 0 20px;
  }
  ul.video-icon-section li {
    width: 100%;
  }
  .opt-services p {
    padding: 0 20px;
  }
  .how-connect-internet h3 hr {
    width: 90%;
  }
  .how-connect-internet p {
    font-size: 19px;
    line-height: normal;
  }
  .how-connect-internet ul {
    display: block;
    font-size: 19px;
  }
  .how-connect-internet ul li {
    display: block;
    text-align: center;
  }
  .how-connect-internet ul li img {
    display: block;
    padding: 0;
    margin-right: auto;
    margin-left: auto;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    margin-top: 14px;
  }
  .more-special .d-flex {
    margin: 0;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
  }
  .more-special .d-flex div {
    margin-top: 20px;
  }
  .more-special .w-95 {
    width: 75%;
  }
  .connection-kits {
    padding-bottom: 50px;
  }
  .main-image-internet .our-advantages-cards p {
    font-size: 20px;
    height: auto;
    padding: 30px 33px;
  }
  .main-image-internet .our-advantages-cards .cards-image-color {
    padding: 25px 0;
  }
  .main-image-internet .our-advantages-cards .cards-image-color img {
    height: 80px;
  }
  .about-video .video-image-section img {
    display: none;
  }
  .video-question button {
    font-size: 16px;
  }
  .how-work {
    height: auto;
  }
  .how-work .container .how-work-card {
    height: auto;
    margin-top: 20px;
  }
  .header-image-internet {
    height: 585px;
    background-position-x: center;
  }
  .header-image-internet h1 {
    font-size: 2rem;
    line-height: normal;
    padding: 0;
    text-align: center;
  }
  .header-image-internet ul {
    padding-left: 1rem;
  }
  .header-image-internet ul li img {
    padding-right: 10px;
  }
  .header-image-internet button {
    margin-left: 1rem;
  }
  .why-us-special ul li {
    width: 100%;
  }
  .why-us-special ul li div {
    padding-left: 15px;
  }
  .vs-last {
    padding-left: 4px !important;
    padding-right: 4px !important;
  }
  .tv-header-background {
    height: auto;
    padding-bottom: 100px;
    background-position: left;
  }
  .tv-header-background .tv-header-title {
    font-size: 50px;
    margin-left: 10px;
  }
  .tv-header-background .tv-btn-header {
    margin-left: 10px;
    margin-top: 140px;
  }
  .types-connection-image {
    padding-top: 50px;
  }
  .types-connection-card {
    font-size: 20px;
  }
  .types-connection-card h3 {
    font-size: 23px;
  }
  .types-connection-card button {
    width: 30%;
    font-size: 20px;
  }
  .types-connection-card .main-button:after {
    left: 7px;
    padding: 24px;
  }
  .satellite-television-title h3 {
    font-size: 22px;
    border: none;
  }
  .satellite-television-title img {
    height: auto;
    width: 90px;
  }
  .satellite-television-card {
    height: 92%;
    margin-right: auto;
    margin-left: auto;
  }
  .satellite-television-card ul {
    padding-left: 0;
  }
  .satellite-television-card .main-button:after {
    padding: 21px;
  }
  .satellite-television-card button {
    width: 25%;
  }
  .satellite-television-card h3 {
    font-size: 18px;
  }
  .satellite-television-card-specification {
    display: block;
    padding-left: 50px !important;
    margin-top: 20px;
  }
  .satellite-television-card-specification li:nth-child(4) img {
    padding-left: 0px;
  }
  .satellite-television-card-specification li:nth-child(2) img {
    padding-left: 0px;
  }
  .tv-special-offer p {
    margin: 0;
    font-size: 20px;
    width: 100%;
    padding-bottom: 15px;
  }
  .tv-special-offer span {
    font-size: 25px;
    margin: 0;
    width: 100%;
    margin-top: 15px;
  }
  .tv-special-offer img {
    display: none;
  }
  .special-header-icon ul li {
    width: 50%;
  }
  .tv-satellite-ntv-plus h3 {
    width: 100%;
  }
  .tv-satellite-ntv-plus-card h4 {
    padding: 30px 10px;
  }
  .tv-satellite-ntv-plus-card .main-button:after {
    padding: 21px;
  }
  .tv-satellite-ntv-plus button {
    width: 25%;
  }
  .tv-satellite-mts p {
    padding-right: 0;
    font-size: 18px;
  }
  .tv-broadcast-card {
    height: 90%;
  }
  .make-request .tv-footer-image-left {
    display: none;
  }
  .make-request p {
    font-size: 18px;
    width: 100%;
    padding: 0 10px;
  }
  .make-request button {
    width: 70%;
    font-size: 20px;
  }
  .make-request .tv-footer-image-right {
    display: none;
  }
  .special-for-custumers .card-with-header h3 {
    font-size: 18px;
  }
  .special-for-custumers .card-with-header p {
    height: auto;
    padding: 10px 20px 30px;
  }
  .special-header h1 {
    font-size: 30px;
    margin: 0;
    padding: 0;
  }
  .special-header button {
    margin: 0;
  }
}
/* Ipad mini to normal Ipad ( 7inc Screen ) */
@media (min-width: 577px) and (max-width: 768px) {
  .header-image div h1 {
    font-size: 40px;
  }
  header.container-fluid .navbar-collapse .secondary-button {
    display: block;
  }
  .check-home {
    height: auto;
    padding-top: 30px;
  }
  .check-home form {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .check-home form div {
    width: 100%;
    margin-bottom: 20px;
  }
  .check-home form div .number-home {
    width: 100%;
  }
  .check-home form div button {
    width: 100%;
    margin-left: 0;
  }
  .check-home form input {
    width: 100%;
  }
  .why-us {
    height: auto;
  }
  .main-image-internet .our-advantages-cards .cards-image-color img {
    height: 60px;
  }
  .main-image-internet .our-advantages-cards p {
    font-size: 18px;
    padding: 0 12px;
  }
  .video-icon-section li {
    width: 100%;
  }
  .video-section {
    height: 600px;
  }
  .video-section .container {
    height: 600px;
  }
  .video-section h1 {
    font-size: 38px;
  }
  .our-rates .internet-tariffs img {
    width: 50%;
  }
  .video-question button {
    font-size: 18px;
  }
  .card-with-header h3 {
    padding: 15px;
  }
  .video-services .vs-2,
  .video-services .vs-3,
  .video-services .vs-4,
  .video-services .vs-5 {
    height: 380px;
  }
  .video-services .video-service-card ul {
    font-size: 16px;
  }
  .video-services .video-service-card h3 {
    font-size: 20px;
  }
  .video-services ul.video-icon-section li {
    width: 100%;
  }
  ul.video-icon-section li {
    width: 100%;
  }
  .vs-last {
    padding-left: 4px !important;
    padding-right: 4px !important;
  }
  .connection-kits {
    padding-bottom: 50px;
  }
  .connection-kits .card-kits {
    height: 470px;
    position: relative;
  }
  .connection-kits .card-kits .kits-title {
    padding: 10px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .connection-kits .card-kits .kits-title img {
    margin: auto;
    height: auto;
    width: 25%;
  }
  .connection-kits .card-kits .kits-title div {
    padding: 10px 0 0 0;
    text-align: center;
    font-size: 17px;
  }
  .connection-kits .card-kits ul li {
    padding: 5px 10px;
    font-size: 14px;
  }
  .connection-kits .card-kits button {
    padding: 15px 0;
    font-size: 16px;
    line-height: normal;
    position: absolute;
    bottom: 0;
  }
  .more-special .w-95 {
    width: 75%;
  }
  .services .container .home-page-service .text-service h3 {
    font-size: 24px;
  }
  .services .container .home-page-service .text-service p {
    font-size: 18px;
  }
  .services .container .home-page-service .text-service .secondary-button {
    font-size: 20px;
  }
  .more-special .w-95 {
    width: 75%;
  }
  .how-work {
    height: auto;
  }
  .how-work .container .how-work-card:last-child {
    margin-top: 20px;
  }
  .header-image-internet h1 {
    font-size: 3rem;
    line-height: normal;
  }
  .header-image-internet {
    height: 585px;
    background-position-x: center;
  }
  .how-connect-internet h3 hr {
    width: 90%;
  }
  .how-connect-internet p {
    font-size: 19px;
    line-height: normal;
  }
  .how-connect-internet ul {
    font-size: 19px;
    display: block;
  }
  .how-connect-internet ul li {
    display: block;
    text-align: center;
  }
  .how-connect-internet ul li img {
    display: block;
    padding: 0;
    margin-right: auto;
    margin-left: auto;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    margin-top: 14px;
  }
  .tv-header-background {
    height: auto;
    padding-bottom: 100px;
  }
  .tv-header-background .tv-header-title {
    font-size: 40px;
    margin-right: 40px;
  }
  .tv-header-background .tv-btn-header {
    margin-left: 60px;
    margin-top: 140px;
  }
  .types-connection-image {
    padding-top: 50px;
  }
  .types-connection-card {
    font-size: 20px;
  }
  .types-connection-card h3 {
    font-size: 23px;
  }
  .types-connection-card button {
    font-size: 20px;
  }
  .types-connection-card .main-button:after {
    left: 7px;
    padding: 24px;
  }
  .satellite-television-title img {
    width: 100px;
  }
  .satellite-television-card {
    height: 92%;
  }
  .satellite-television-card ul {
    padding-left: 0;
  }
  .satellite-television-card h3 {
    font-size: 21px;
  }
  .satellite-television-card-specification {
    display: block;
    padding-left: 40px !important;
  }
  .satellite-television-card-specification li:nth-child(4) img {
    padding-left: 0px;
  }
  .satellite-television-card-specification li:nth-child(2) img {
    padding-left: 0px;
  }
  .tv-special-offer p {
    margin: 0;
    font-size: 20px;
    width: 71%;
    padding-bottom: 15px;
  }
  .tv-special-offer span {
    font-size: 25px;
    margin: 0;
    width: 80%;
    margin-top: 15px;
  }
  .tv-special-offer img {
    position: absolute;
    top: -40px;
    right: 0;
    height: auto;
    width: 190px;
  }
  .tv-satellite-ntv-plus-card h4 {
    padding: 30px 60px;
  }
  .tv-satellite-mts p {
    font-size: 20px;
  }
  .tv-broadcast-card {
    height: 90%;
  }
  .make-request .tv-footer-image-left {
    left: 13px;
    top: -50px;
    width: 200px;
    height: 200px;
  }
  .make-request p {
    font-size: 18px;
  }
  .make-request button {
    width: 40%;
    font-size: 20px;
  }
  .make-request .tv-footer-image-right {
    right: 36px;
    bottom: 120px;
    width: 152px;
    height: 186px;
  }
  .special-for-custumers .card-with-header h3 {
    font-size: 18px;
  }
  .special-for-custumers .card-with-header p {
    height: auto;
  }
  .why-us-special ul li {
    width: 100%;
  }
  .why-us-special ul li div {
    padding-left: 15px;
  }
  .special-header-icon ul li {
    width: 50%;
  }
}
/* Between Ipad pro and Ipad */
@media (min-width: 769px) and (max-width: 992px) {
  .header-image div h1 {
    font-size: 40px;
  }
  .more-special .w-95 {
    width: 75%;
  }
  header.container-fluid .navbar-collapse .secondary-button {
    display: block;
  }
  header.container-fluid .navbar-nav li {
    padding: 0 0;
  }
  .check-home {
    height: auto;
    padding-top: 30px;
  }
  .check-home form {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .check-home form div {
    width: 100%;
    margin-bottom: 20px;
  }
  .check-home form div .number-home {
    width: 100%;
  }
  .check-home form div button {
    width: 100%;
    margin-left: 0;
  }
  .check-home form input {
    width: 100%;
  }
  .why-us {
    height: auto;
  }
  .vs-last {
    padding-left: 12px !important;
    padding-right: 12px !important;
  }
  .services .container .home-page-service .text-service h3 {
    font-size: 24px;
  }
  .services .container .home-page-service .text-service p {
    font-size: 18px;
  }
  .services .container .home-page-service .text-service .secondary-button {
    font-size: 20px;
  }
  .video-section {
    height: 600px;
  }
  .video-section .container {
    height: 600px;
  }
  .video-section h1 {
    font-size: 50px;
  }
  .about-video .video-image-section img {
    width: 550px;
  }
  .video-services .video-service-card ul {
    font-size: 16px;
  }
  .video-services .video-service-card h3 {
    font-size: 20px;
  }
  .how-work {
    height: auto;
  }
  .how-work .container .how-work-card {
    font-size: 17px;
    padding: 40px 20px;
  }
  .how-work .container .how-work-card:last-child {
    margin-top: 30px;
  }
  .connection-kits {
    padding-bottom: 50px;
  }
  .tv-header-background {
    height: auto;
    padding-bottom: 100px;
  }
  .tv-header-background .tv-header-title {
    font-size: 40px;
    margin-right: 40px;
  }
  .tv-header-background .tv-btn-header {
    margin-left: 60px;
    margin-top: 140px;
  }
  .types-connection-image {
    padding-top: 50px;
  }
  .types-connection-card {
    font-size: 20px;
  }
  .types-connection-card h3 {
    font-size: 23px;
  }
  .types-connection-card button {
    font-size: 20px;
  }
  .types-connection-card .main-button:after {
    left: 7px;
    padding: 24px;
  }
  .satellite-television-title img {
    width: 100px;
  }
  .satellite-television-card {
    height: 92%;
  }
  .satellite-television-card ul {
    padding-left: 0;
  }
  .satellite-television-card h3 {
    font-size: 21px;
  }
  .satellite-television-card-specification {
    display: block;
    padding-left: 40px !important;
  }
  .satellite-television-card-specification li:nth-child(4) img {
    padding-left: 0px;
  }
  .satellite-television-card-specification li:nth-child(2) img {
    padding-left: 0px;
  }
  .tv-special-offer p {
    margin: 0;
    font-size: 20px;
    width: 71%;
    padding-bottom: 15px;
  }
  .tv-special-offer span {
    font-size: 25px;
    margin: 0;
    width: 80%;
    margin-top: 15px;
  }
  .tv-special-offer img {
    position: absolute;
    top: -40px;
    right: 0;
    height: auto;
    width: 190px;
  }
  .tv-satellite-mts p {
    font-size: 20px;
  }
  .tv-broadcast-card {
    height: 90%;
  }
  .make-request .tv-footer-image-left {
    left: 13px;
    top: -50px;
    width: 200px;
    height: 200px;
  }
  .make-request p {
    font-size: 18px;
  }
  .make-request button {
    width: 40%;
    font-size: 20px;
  }
  .make-request .tv-footer-image-right {
    right: 36px;
    bottom: 120px;
    width: 152px;
    height: 186px;
  }
  .special-for-custumers .card-with-header h3 {
    font-size: 18px;
  }
  .special-for-custumers .card-with-header p {
    height: 240px;
  }
  .why-us-special ul li {
    width: 100%;
  }
}
/* NetBooks and Ipad Pro */
@media (min-width: 993px) and (max-width: 1200px) {
  header.container-fluid .navbar-nav li {
    padding: 0 0;
  }
  .header-image-internet {
    height: 585px;
    background-position-x: center;
  }
  .header-image-internet h1 {
    font-size: 3rem;
    line-height: normal;
  }
  .services .container .home-page-service .text-service h3 {
    font-size: 24px;
  }
  .services .container .home-page-service .text-service p {
    font-size: 18px;
  }
  .services .container .home-page-service .text-service .secondary-button {
    font-size: 20px;
  }
  .how-work .container .how-work-card {
    padding: 40px 20px;
    font-size: 16px;
  }
  .best-offers .container .best-offers-card {
    padding: 40px 15px;
  }
  .best-offers .container h3 {
    font-size: 21px;
  }
  footer p {
    font-size: 16px;
  }
  footer a {
    font-size: 18px;
  }
  .why-us-special ul li div {
    padding-left: 15px;
  }
  .why-us-special ul li p {
    font-size: 16px;
  }
  .why-us-special ul li h3 {
    font-size: 18px;
  }
  .video-section {
    height: 600px;
  }
  .video-section .container {
    height: 600px;
  }
  .video-section h1 {
    font-size: 50px;
  }
  .about-video .video-image-section img {
    width: 550px;
  }
  .video-services .video-service-card ul {
    font-size: 17px;
  }
  .vs-last {
    padding-left: 12px !important;
    padding-right: 12px !important;
  }
  .tv-header-background {
    height: auto;
    padding-bottom: 100px;
  }
  .tv-header-background .tv-header-title {
    font-size: 45px;
    width: 70%;
  }
  .tv-header-background .tv-btn-header {
    margin-left: 60px;
    margin-top: 100px;
    font-size: 20px;
  }
  .tv-header-background .main-button:after {
    left: 6px;
    padding: 24px;
  }
  .tv-special-offer img {
    height: auto;
    width: 20%;
    top: -40px;
    right: 0;
  }
  .tv-special-offer p {
    font-size: 19px;
    border-bottom: 1px solid #FFFFFF;
    padding-bottom: 0;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .tv-special-offer span {
    font-size: 20px;
  }
  .types-connection-image {
    padding-top: 50px;
  }
  .types-connection-card {
    font-size: 20px;
    height: 100%;
    padding-bottom: 60px;
  }
  .satellite-television-title img {
    height: auto;
    width: 100px;
  }
  .satellite-television-card-specification {
    display: block;
    padding-left: 60px;
    padding-top: 30px;
  }
  .satellite-television-card-specification li:nth-child(4) img {
    padding-left: 0px;
  }
  .satellite-television-card-specification li:nth-child(2) img {
    padding-left: 0px;
  }
  .tv-satellite-ntv-plus-card {
    height: 100%;
    padding-bottom: 125px;
  }
  .tv-satellite-ntv-plus-card h4 {
    padding: 30px 30px;
  }
  .tv-satellite-ntv-plus-card button {
    bottom: 0;
  }
  .tv-satellite-ntv-plus-card .price {
    bottom: 75px;
  }
  .tv-satellite-mts p {
    font-size: 21px;
  }
  .tv-broadcast {
    padding-bottom: 100px;
  }
  .tv-broadcast-card {
    height: 90%;
    padding: 15px 47px 0px;
    margin-top: 103px;
  }
  .make-request .tv-footer-image-left {
    left: 13px;
    top: -50px;
    width: 250px;
    height: 250px;
  }
  .make-request p {
    font-size: 20px;
  }
  .make-request .tv-footer-image-right {
    width: 250px;
    height: 202px;
    right: 0;
    bottom: 80px;
  }
  .connection-kits {
    padding-bottom: 50px;
  }
  .special-for-custumers .card-with-header h3 {
    font-size: 18px;
  }
}
