@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'OpenSans-Bold';
  src: url(../fonts/OpenSans-Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: 'OpenSans-Light';
  src: url(../fonts/OpenSans-Light.ttf);
  font-weight: 300;
}

@font-face {
  font-family: 'OpenSans-SemiBold';
  src: url(../fonts/OpenSans-SemiBold.ttf);
  font-weight: 600;
}

@font-face {
  font-family: 'OpenSans-Regular';
  src: url(../fonts/OpenSans-Regular.ttf);
  font-weight: 400;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
}

.tac {
  text-align: center;
}

.container {
  width: 1200px;
  display: block !important;
  margin:0 auto !important;
}
.container-carts{
  margin-top: 150px !important;
}
.blog{
  font-size: 19px;
}
.blog h1{
  font-size: 42px;
  text-align: center;
  margin-bottom: 55px;
  color: #1a1b4d;
  font-weight: bold;
}
.blog h2{
  font-size: 28px;
  margin-bottom: 20px;
}
.blog h3{
  font-size: 32px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 30px;
  color: #041f7d;
}
.blog ul li a, .blog ol li a, .blog a{
  color: #096daf;
}
.blog img{
  margin: 0 0 20px 0;
  width: 100%;
}
.blog h4{
  margin-bottom: 20px;
}

#response {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10;
  background-color: #68cd86;
  width: 14%;
  padding: 10px 0 10px 10px;
  margin-right: 6px;
  color: #fff;
  font-family: 'OpenSans-SemiBold';
  height: auto;
  text-align: left;
  font-size: 12px;
  border-left: 5px solid #42a85f;
}

#response span {
  font-family: 'OpenSans-Regular';
}

.bg-fon {
  -webkit-transform: skewY(-8deg);
  transform: skewY(-8deg);
  -webkit-transform-origin: 0;
  transform-origin: 0;
  position: absolute;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
}
.bg-fon-2 {
  -webkit-transform-origin: 0;
  transform-origin: 0;
  position: absolute;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
}

.bg-skew {
  background: -webkit-gradient(linear, left top, right top, from(#031175), color-stop(88%, #0c9acb));
  background: linear-gradient(90deg, #031175, #0c9acb 88%);
  height: 780px;
}
.bg-skew-2 {
  background: -webkit-gradient(linear, left top, right top, from(#031175), color-stop(88%, #0c9acb));
  background: linear-gradient(90deg, #031175, #0c9acb 88%);
  height: 580px;
}

.bg-call-us {
  background: linear-gradient(87deg, #172b4d, #1a174d) !important;
}

nav {
  padding: 17px;
}

.logo {
  letter-spacing: .05px;
  display: flex;
  align-items: center;
  color: #fff;
  text-transform: uppercase;
}

.logo img {
  height: 200px;
}

.logo h5 {
  line-height: 1.3;
}

.logo:hover {
  text-decoration: none;
  color: #fff;
}

.policy {
  display: none;
  margin: auto;
  position: fixed;
  height: 90%;
  overflow-y: scroll;
  width: 60%;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: white;
  padding: 30px 50px;
  z-index: 1060;
  border-radius: 5px;
  font-size: 14px !important;
}

.policy p {
  font-size: 14px !important;
}

.policy p span {
  font-size: 14px !important;
}

.policy span {
  font-size: 14px !important;
}

.social {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  justify-content: flex-end;
  list-style: none;
}

.social li {
  padding: 16px 8px;
  margin-right: 6px;
}

.social li:first-child {
  padding: 16px;
  margin-right: 16px;
}

.social a {
  font-size: 20px;
  color: #fff;
  transition: color 1s;
}

.social a:hover {
  color: rgba(255, 255, 255, 0.65);
  text-decoration: none;
}

.social img {
  box-shadow: rgba(0, 0, 0, 0.6) 0px 0px 35px -5px;
  padding: 1px;
  border-radius: 50%;
  background: white;
  height: 35px;
}

.social img:last-child {
  padding: 3px;
}

.best-services {
  font-weight: 600;
  line-height: 1.3;
  color: #fff;
  font-size: 2.1875rem;
  font-family: 'OpenSans-Regular', serif;
  letter-spacing: 1px;
}

.best-services span {
  font-family: 'OpenSans-Light', sans-serif;
  display: block;
  font-weight: 300;
  letter-spacing: 0px;
}

.btn-call {
  background-color: #fff;
  margin-top: 1rem;
  padding: 10px 22px;
  text-transform: uppercase;
  font-family: 'OpenSans-SemiBold', serif;
  font-size: 14px;
}

.btn-call:hover {
  transform: translateY(-1px);
}

input.active.focus,
input.active:focus,
input.focus,
input:active.focus,
input:active:focus,
input:focus {
  outline: 0 !important;
  outline-color: transparent !important;
  outline-width: 0 !important;
  outline-style: none !important;
  box-shadow: 0 1px 3px rgba(50, 50, 93, 0.15), 0 1px 0 rgba(0, 0, 0, 0.02);
   !important;
}

.carts {
  display: flex;
  flex-wrap: wrap;
  margin: 3rem;
  margin-top: 150px;
  padding-bottom: 3rem;
}

.carts .cart-item {
  position: relative;
  padding: 27px;
  margin-left: 0;
  margin-right: 0;
  background-color: #fff;
  margin-bottom: 24px;
  width: 100%;
  border-radius: .25rem;
  transition: all .15s ease;
  box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
}

.carts .cart-item:hover {
  transform: translateY(-20px);
}

.btn-more {
  background-color: white;
  border-color: #031778;
  margin-top: 15px;
}

.carts .cart-item .text-primary {
  color: #5e72e4 !important;
  height: 40px;
}

.carts .cart-item .text-success {
  color: #2dce89;
  height: 40px;
}

.text-blue {
  color: #096daf;
  height: 40px;
}


.text-blue:hover {
  text-decoration: none;
  color: #000;
}

.carts .cart-item .text-warning {
  color: #fb6340 !important;
  height: 40px;
}

.carts .cart-item .text-info {
  color: #11cdef !important;
  height: 40px;
}

.last-card-title {
  height: 80px !important;
}

.last-card-p {
  height: 90px !important;
}

.carts .cart-item .btn-primary {
  margin-top: 1.5rem !important;
  color: #fff;
  background-color: #5e72e4;
  border-color: #5e72e4;
}

.carts .cart-item .btn-warning {
  margin-top: 1.5rem !important;
  color: #fff;
  background-color: #fb6340 !important;
  border-color: #fb6340 !important;
}

.carts .cart-item .btn-success {
  margin-top: 1.5rem !important;
  color: #fff;
  background-color: #2dce89 !important;
  border-color: #2dce89 !important;
}

.carts .cart-item .btn-info {
  margin-top: 1.5rem !important;
  color: #fff;
  background-color: #11cdef !important;
  border-color: #11cdef !important;
}

.carts .cart-item button {
  text-transform: uppercase;
  font-family: 'OpenSans-SemiBold', serif;
  transition: all .15s ease;
  padding: 10px 20px;
  will-change: transform;
  letter-spacing: .025em;
  font-size: .875rem;
  -webkit-box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.carts .cart-item button:hover {
  transform: translateY(-1px);
  -webkit-box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
  box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
  -webkit-transform: translateY(-1px);
}

.carts .cart-item p {
  font-size: .875rem;
  margin-top: 1rem;
  height: 130px;
  color: #32325d;
  font-weight: 500;
}

.carts .cart-item img {
  height: 35px;
  width: 40px;
  margin-bottom: 1.5rem;
}

.btn-app {
  color: #fff;
  background-color: #5e72e4;
  margin-right: auto;
  border-color: #5e72e4;
  margin-top: 30px;
}

.text-warning-email {
  background-color: red;
  color: #fff;
  font-size: inherit;
  font-weight: 700;
  width: fit-content;
  padding: 5px;
  border-radius: 8px;
}

.flash-messanger {
  display: none;
  background: #ffd900;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99999;
}

.flash-messanger .flash-content {
  padding: 10px 30px;
  text-align: center;
}

.flash-messanger .flash-content p {
  letter-spacing: .5px;
  color: red;
}

.social-mob {
  display: none;
}

#overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #333333;
  opacity: 0.7;
  width: 100%;
  height: 100%;
  z-index: 100;
  display: none;
}

#overlay-second {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #333333;
  opacity: 0.7;
  width: 100%;
  height: 100%;
  z-index: 1003;
  display: none;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  height: auto;
  z-index: 1050;
  display: none;
  overflow: hidden;
  outline: 0;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  width: 29%;
}

.modal .form-body {
  background: #fff !important;
  padding: 20px;
  height: auto;
}

.modal .form-body .container {
  width: 100%;
  margin-bottom: 0 !important;
}

.modal .form-body h4 {
  border-bottom: 1px solid #e9ecef;
  padding-bottom: 20px;
}

.modal .form-body p {
  padding-top: 20px;
}

.modal .form-body .form-check {
  margin-top: 20px;
  border-bottom: 1px solid #e9ecef;
  padding-bottom: 20px;
}

.modal .form-body .btn-modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding: 20px 0 0px 0;
}

.modal .form-body .btn-app {
  color: #fff;
  background-color: #5e72e4;
  margin-right: auto;
  border-color: #5e72e4;
}

.btn {
  text-transform: uppercase;
  -webkit-transition: all .15s ease;
  transition: all .15s ease;
  will-change: transform;
  letter-spacing: .025em;
  font-size: .875rem;
  font-weight: 600;
  padding: .625rem 1.25rem;
  line-height: 1.5;
  text-align: center;
  border-radius: .25rem;
}

.our-team {
  padding-bottom: 6rem;
}

.our-team h2 {
  color: #32325d;
  line-height: 1.3;
  font-family: 'OpenSans-SemiBold', serif;
}

.our-team p {
  font-size: 1.25rem;
  font-family: 'OpenSans-Light', serif;
  color: #101016;
  line-height: 1.7;
  margin-bottom: 6rem;
}

.our-team button {
  margin-top: 2.5rem;
}

.our-team .btn-primary {
  background-color: #5e72e4 !important;
  border-color: #5e72e4 !important;
}

.our-team .btn-primary:hover {
  -webkit-box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
  box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
  -webkit-transform: translateY(-1px);
  transform: translateY(-1px);
  background-color: #5e72e4 !important;
  border-color: #5e72e4 !important;
}

.our-team .person-item {
  text-align: center;
  align-items: center;
}

.our-team .person-item img {
  margin: auto;
  display: block;
  width: 170px;
  height: 170px;
  object-fit: cover;
  border-radius: 50%;
  transition: all .15s ease;
  -webkit-box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07) !important;
  box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07) !important;
}

.our-team .person-item img:hover {
  -webkit-box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
}

.our-team .person-item h6 {
  font-size: 1.25rem;
  padding-top: 1.5rem;
  margin-bottom: .5rem;
}

.section-relative {
  position: relative;
  overflow: hidden;
  height: auto;
  padding-top: 6rem;
}

.section-relative .call-text {
  color: #fff;
}

.section-relative .call-text h2 {
  font-family: 'OpenSans-SemiBold';
  font-size: 35px;
  line-height: 1.3;
}

.section-relative .call-text p {
  font-family: 'OpenSans-Light';
  line-height: 1.7;
  font-size: 1.25rem;
  margin-top: 1.5rem;
}

.section-relative .bg-fon {
  background: linear-gradient(87deg, #172b4d, #1a174d) !important;
}

.form-body {
  font-family: 'OpenSans-Light';
  margin-top: 3rem;
  height: auto;
  padding: 48px;
  margin-bottom: 48px;
  width: 100%;
  background-color: #fff;
  -webkit-box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07) !important;
  box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07) !important;
  background: linear-gradient(87deg, #f4f5f7, #f4f4f7) !important;
  color: #32325d;
  border: 0.0625rem solid rgba(0, 0, 0, 0.05);
  border-radius: .25rem;
}

.form-body h4 {
  font-family: 'OpenSans-Regular';
  font-weight: 400;
  line-height: 1.3;
  margin-bottom: 4px;
}

.form-body .btn-app:hover {
  -webkit-box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
  box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
  -webkit-transform: translateY(-1px);
  transform: translateY(-1px);
  background-color: #5e72e4 !important;
  color: #ffffff;
  border-color: #5e72e4 !important;
}

.form-body p {
  color: #000000;
}

.form-body p a {
  color: #5e72e4;
}

.form-body p a:hover {
  color: #233dd2;
  text-decoration: none;
}

.form-body .form-email {
  -webkit-box-shadow: 0 1px 3px rgba(50, 50, 93, 0.15), 0 1px 0 rgba(0, 0, 0, 0.02);
  box-shadow: 0 1px 3px rgba(50, 50, 93, 0.15), 0 1px 0 rgba(0, 0, 0, 0.02);
  border: 0;
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  transition: box-shadow 0.15s ease, -webkit-box-shadow 0.15s ease;
  font-size: .875rem;
  padding: .625rem .75rem;
  line-height: 1.5;
  margin: 10px 0;
  color: #8898aa;
  outline: none;
}

.form-body .text-form {
  height: 150px;
  width: 100%;
  -webkit-box-shadow: 0 1px 3px rgba(50, 50, 93, 0.15), 0 1px 0 rgba(0, 0, 0, 0.02);
  box-shadow: 0 1px 3px rgba(50, 50, 93, 0.15), 0 1px 0 rgba(0, 0, 0, 0.02);
  border: 0;
  font-size: .875rem;
  -webkit-transition: -webkit-box-shadow 0.15s ease;
  transition: -webkit-box-shadow 0.15s ease;
  transition: box-shadow 0.15s ease;
  transition: box-shadow 0.15s ease, -webkit-box-shadow 0.15s ease;
  padding-left: 10px;
  padding-bottom: 116px;
}

.form-body .text-form::placeholder {
  padding-left: 0px;
}

.form-body .form-check {
  align-items: center;
  text-align: center;
  margin-top: 1rem;
  padding-left: 0;
  /* Hide the browser's default checkbox */
  /* Create a custom checkbox */
  /* When the checkbox is checked, add a blue background */
  /* Create the checkmark/indicator (hidden when not checked) */
  /* Show the checkmark when checked */
  /* Style the checkmark/indicator */
}

.form-body .form-check a {
  color: #5e72e4;
}

.form-body .form-check a:hover {
  color: #233dd2;
  text-decoration: none;
}

.form-body .form-check .container {
  text-align: left;
  padding-left: 30px;
  width: 100%;
  display: block;
  position: relative;
  color: #000000;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: .875rem;
}

.form-body .form-check .container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.form-body .form-check .checkmark {
  border: 1px solid #e3e3e3;
  position: absolute;
  top: -2px;
  left: 0;
  height: 25px;
  width: 25px;
  border-radius: 6px;
  background-color: #fff;
}

.form-body .form-check .container input:checked~.checkmark {
  background-color: #2196F3;
}

.form-body .form-check .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.form-body .form-check .container input:checked~.checkmark:after {
  display: block;
}

.form-body .form-check .container .checkmark:after {
  left: 8px;
  top: 3px;
  width: 8px;
  height: 14px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.desc-d-none {
  display: none;
}

footer {
  padding-top: 285px;
  overflow: hidden;
  padding-bottom: 3rem;
}

.border-footer {
  border-top: 0.0625rem solid rgba(0, 0, 0, 0.1);
}

.copyright {
  padding-top: 43px;
  color: #525f7f;
  font-family: 'OpenSans-Light';
  font-size: 16px !important;
  font-size: .875rem;
}

.copyright p {
  margin-bottom: 10px;
}

.copyright h6 {
  font-size: 14px !important;
  font-family: 'OpenSans-SemiBold';
}

.footer {
  position: relative;
}

.footer.has-cards:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 360px;
  z-index: -1;
  height: 517px;
  background: #f4f5f7;
  -webkit-transform: skew(0, -8deg);
  transform: skew(0, -8deg);
}

.about-us {
  position: fixed;
  z-index: 1001;
  padding: 20px 30px;
  font-family: Helvetica, Arial, sans-serif;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  color: #32325d;
  width: 90%;
  height: 80%;
  overflow-y: scroll;
  background-color: rgba(0, 0, 0, 0.5);
  background-color: white;
  display: none;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.about-us button {
  color: #5e72e4;
  float: right;
}

.about-us button:hover {
  color: #233dd2 !important;
}

.about-us a {
  padding: 0;
}

.about-us p {
  margin: 20px 0;
  padding: 24px;
  font-weight: 300;
  line-height: 1.7;
}

.about-us h2 {
  font-size: 2rem;
  padding: 20px;
  margin-bottom: 0;
}

.about-us .f-bold {
  font-weight: 700 !important;
}

.about-us .btn-call {
  font-weight: 700 !important;
  color: #32325d;
  text-transform: none;
  text-decoration: underline;
  font-size: inherit;
}

.form-cont .checkmark {
  left: 0;
}

.close-policy {
  background: #1a174d;
  color: white;
  float: right;
  margin-bottom: 30px;
}

.close-policy:hover {
  color: white;
}

@media (max-width: 576px) {
  .form-body .text-form {
    height: 150px;
    width: 100%;
    -webkit-box-shadow: 0 1px 3px rgba(50, 50, 93, 0.15), 0 1px 0 rgba(0, 0, 0, 0.02);
    box-shadow: 0 1px 3px rgba(50, 50, 93, 0.15), 0 1px 0 rgba(0, 0, 0, 0.02);
    font-size: .875rem;
    -webkit-transition: -webkit-box-shadow 0.15s ease;
    transition: -webkit-box-shadow 0.15s ease;
    transition: box-shadow 0.15s ease;
    transition: box-shadow 0.15s ease, -webkit-box-shadow 0.15s ease;
    padding-left: 10px;
    padding-bottom: 116px;
  }

  footer {
    padding-top: 50px;
  }

  html {
    overflow-x: hidden;
  }

  .policy {
    width: 90%;
    padding: 30px 15px;
    border-radius: 5px;
  }

  .btn-about-us-mobile {
    display: block;
  }

  .col-xs-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .person-item {
    margin-top: 10px;
  }

  .person-item h6 {
    font-size: 1rem !important;
  }

  .person-item img {
    width: 140px !important;
    height: 140px !important;
  }

  body {
    overflow-x: hidden;
  }

  .carts .cart-item {
    height: auto;
  }

  .mob-d-none {
    display: none;
  }

  .desc-d-none {
    display: block;
  }

  .section-relative {
    height: 420px;
  }

  .form-body {
    padding: 1.5rem;
  }

  .form-check {
    text-align: left !important;
  }

  .form-check .container {
    padding: 0;
    padding-left: 18px;
  }

  .checkmark {
    top: 1px;
  }

  .form-email::placeholder {
    color: #000;
  }

  .container {
    width: 100%;
  }

  .logo {
    flex-direction: row-reverse;
  }

  .logo img {
    height: 130px;
  }

  .social-mob {
    display: flex;
    justify-content: flex-start;
    margin: 0;
    padding: 0 !important;
    margin-top: 20px;
    margin-left: 10px;
  }

  .social-mob li {
    list-style: none;
    margin-right: 20px;
  }

  .social-mob img {
    box-shadow: none;
    height: 35px;
    box-shadow: rgba(0, 0, 0, 0.6) 0px 0px 35px -5px;
    padding: 1px;
    border-radius: 50%;
    background: white;
  }

  .carts {
    margin-top: 370px;
  }

  .navbar-toggler {
    padding: 0;
  }

  .best-services span {
    width: 99%;
  }

  .modal {
    width: 90% !important;
    height: 100%;
    overflow-y: scroll;
  }

  .modal .btn-app {
    margin-right: auto !important;
  }

  #response {
    width: 76%;
  }
}

@media (max-width: 960px) {
  .modal {
    width: 50%;
  }

  .carts .cart-item {
    height: auto !important;
  }
}

@media (max-width: 1410px) {
  .modal {
    width: 45%;
  }
}

@media (max-width: 1260px) {}